@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
}
ul li {
  padding-right: 40px;
  cursor: pointer;
}
.container {
  width: 90%;
  margin: auto;
}
/*============ Navbar =========*/
header {
  height: 86px;
  padding: 16px;
  background-color: #0b9586;
  display: flex;
  align-items: center;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 18px;
}
header nav img {
  opacity: 0.3;
}
header nav .active-link {
  width: 54px;
  height: 22px;
  background-color: #2b7e74;
  box-shadow: 0px 5px 5px #073832;
  padding: 5px 15px;
  border-radius: 5px;
  margin-right: 20px;
}
header .burger-icon {
  width: 25px;
  height: 25px;
  display: none;
  cursor: pointer;
}
.nav-items {
  display: flex;
}
/* ========= Navbar Media Query =========*/
@media (max-width: 698px) {
  header .burger-icon {
    display: flex;
    margin: 0 20px;
  }
  .nav-items {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: 86px;
    background-color: #b3b4b4;
    width: 100%;
    height: calc(40vh - 86px);
    gap: 20px;
    padding-top: 20px;
    z-index: 999;
  }
  .nav-items.active {
    display: flex;
  }
  header .CTA {
    font-size: 14px;
  }
}
/*========== Home Style =========== */
#home {
  min-height: 100vh;
  background-image: url("../images/home-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
#home .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
#home .main .progress-container {
  margin: 9.375rem 0;
}
#home .main-header {
  font-size: 3.125rem;
  width: 60%;
  margin-bottom: 1.25rem;
}
#home .descrption {
  width: 45%;
  font-weight: bold;
}
#home .progress-container {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 18px;
}
#home .progress-container meter {
  width: 200px;
  height: 4px;
  background: #555;
  border: none;
  border-radius: 2px;
}
#home .progress-container meter::-webkit-meter-bar {
  background: #555;
  border-radius: 2px;
}
#home .progress-container meter::-webkit-meter-optimum-value {
  background: white;
  border-radius: 2px;
}
#home .progress-container meter::-moz-meter-bar {
  background: white;
  border-radius: 2px;
}
#home .cta-btns {
  margin-top: 2.5rem;
}
#home .cta-btns .btn1 {
  color: white;
  background-color: #3cab90;
  padding: 10px 30px;
  border-radius: 3.125rem;
  border: none;
}
#home .cta-btns .btn2 {
  color: #2a3334;
  background-color: #ffbb1c;
  padding: 10px 50px;
  border-radius: 3.125rem;
  border: none;
}
/* Media query  */
@media (max-width: 992px) {
  #home .cta-btns{
    padding-bottom: 50px;
  }
}
@media (max-width: 908px) {
  #home .main-header {
    font-size: 2.5rem;
  }
  #home .descrption {
    width: 70%;
  }
}
@media (max-width: 730px) {
  #home .main-header {
    width: 70%;
  }
}
@media (max-width: 625px) {
  #home .main-header {
    font-size: 30px;
  }
}
@media (max-width: 625px) {
  #home .main-header {
    font-size: 25px;
    width: 80%;
    font-weight: 600;
  }
}
@media (max-width: 401px) {
  #home .cta-btns {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
}
/*========== Section-2 Style =========== */
#sec-2 {
  /* height: 44.5rem; */
  background-color: white;
  margin-bottom: 50px;
}
#sec-2 .trade-details {
  display: flex;
  padding-top: 80px;
  gap: 23px;
}
#sec-2 .title {
  font-size: 42px;
  font-weight: 600;
  color: #101828;
}
#sec-2 p {
  font-weight: 400;
  color: #475467;
  padding: 20px;
}
#sec-2 .co-services {
  padding: 20px;
}
#sec-2 .co-services .num{
  font-size: 20px;
  font-weight: 500;
  color: #84BD3A;
  margin-right: 10px;
}
#sec-2 .co-services .text{
  font-size: 18px;
  font-weight: 600;
  color: #101828;
  line-height: 50px;
}
#sec-2 .charge-container{
  position: relative;
}
#sec-2 .charge-container .charge{
  width:200px ;
  height:180px ;
  background-color: #FFBB1C;
  border-radius: 12px;
  padding: 24px 30px;
  position: absolute;
  top: 19rem;
  left: -3rem;
}
/* Media Query  */
@media (max-width: 1068px){
  #sec-2 .trade-details{
    gap: 30px;
  }
  #sec-2 .title {
    font-size: 30px;
  }
  #sec-2 p {
    padding: 33px;
  }
  #sec-2 .co-services .text{
    font-size: 16px;
    line-height: 30px;
  }
  #sec-2 .charge-container{
    width: 50%;
  }
  #sec-2 .charge-container .charge{
    width:150px ;
  height:160px ;
  top: 20rem;
  }
}
@media (max-width: 973px){
  #sec-2 .trade-details{
    gap: 15px;
  }
  #sec-2 .title {
    font-size: 25px;
    padding-bottom: 10px;
  }
  #sec-2 .co-services .text{
    line-height: 20px;
    padding-right: 10px;
  }
  #sec-2 .co-services .num{
    font-size: 18px;
    margin-right: 5px;
  }
}
@media (max-width: 937px){
  #sec-2 .trade-details{
    gap: 10px;
  }
  #sec-2 .co-services .text{
   font-size: 15px;
   padding: 7px;
  }
  #sec-2 .co-services .num{
    font-size: 18px;
    margin-right: 5px;
  }
  #sec-2 .charge-container .main-img{
    width:80% ;
    margin: auto;
    margin-right: 10px;
  }
  #sec-2 .charge-container .main-img:first-child{
    width: 100%;
  }
  #sec-2 .charge-container .charge{
    width:100px ;
  height:120px ;
  top: 23rem;
  left: -2rem;
  }
}
@media (max-width: 879px){
  #sec-2 .trade-details {
    flex-direction: column;
    padding-top: 80px;
    gap: 23px;
  }
  #sec-2 .charge-container{
    display: flex;
    align-items: center;
    align-content: center;
  }
}
@media (max-width: 412px){
  #sec-2 .trade-details {
    padding-top: 50px;
  }
  #sec-2 .title {
    font-size: 20px;
    padding-bottom: 10px;
  }
  #sec-2 p {
    padding: 10px;
  }
  #sec-2 .co-services {
    font-size: 15px;
    padding: 5px;
   }
   #sec-2 .co-services .num{
    font-size: 16px;
  }
  #sec-2 .co-services .text{
    font-size: 15px;
    padding:0;
   }
}
/*========== CTA Section-3 Style =========== */
#cta{
  height: 32rem;
  background-image: url("../images/8116\ 1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  align-items: center;
  padding: 32px;
}
#cta .title{
  font-size: 42px;
  font-weight: 600;
  margin-block: 30px;
}
#cta .desc{
  font-size: 20px;
  font-weight: 500;
  width: 60%;
}
/* Media Query */
@media (max-width : 1068px){
  #cta{
    padding: 24px;
  }
}
@media (max-width :814px){
  #cta .title{
    font-size: 35px;
  }
  #cta .desc{
    width: 90%;
  }
}
@media (max-width :689px){
  #cta .title{
    font-size: 30px;
  }
  #cta .desc{
    font-size: 18px;
    width: 100%;
  }
}
@media (max-width :557px){
  #cta .title{
    font-size: 25px;
  }
}